spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:backofficeDb
    #    url: jdbc:h2:file:/Users/sid/Desktop/Community/sample1/src/backofficeDb
    driver-class-name: org.h2.Driver
    username: root
    password: '1111'

  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true

  properties:
    format_sql: true
    hibernate:
      show-sql: true

  mvc:
    hidden-method:
      filter:
        enabled: true


  logging:
    level:
      org.hibernate.SQL: trace
      org.hibernate.type: trace

